.header {
    text-align:center;
    border-bottom: 10px solid black;

}

.timer-container{
    text-align:center;
    display:block; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}